@import "../../global.scss";
.usercard {
    display: flex;
    align-items: center;
}

.usercard__img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 16px;
    @include phones {
        width: 35px;
        height: 35px;
        margin-right: 7px;
    }
}

.usercard__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    @include phones {
        font-size: 16px;
    }
}