@import "../../global.scss";
.headline__list {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    @include tablets {
        gap: 16px;
    }
    ;
    @include phones {
        gap: 14px;
    }
}

.headline__item {
    color: black;
    width: 25px;
    height: 25px;
    @include phones {
        width: 18px;
        height: 18px;
    }
}

.headline__photo {
    width: 37px;
    height: 37px;
    @include phones {
        width: 24px;
        height: 24px;
    }
}