.slide__wrapper {
    width: 375px;
    height: 667px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background: #fff;
    overflow: auto
}

.slide__progress {
    width: 100%;
}

.slide__btn-wrapper {
    padding: 24px 52px 32px;
}

.slide__content {
    width: 330px;
    margin: 0 auto;
}

.slide__img {
    width: 294px;
    height: 204px;
    margin: 0 auto;
}

.slide__pic {
    width: 100%;
    height: 100%;
}