@import "../../global.scss";
.headline__menu {
    margin-right: 5px;
    @include phones {
        margin-right: 8px;
    }
}

.headline__logo {
    @include phones {
        width: 100px;
        height: 21px;
    }
}

.stories {
    display: flex;
    justify-content: space-between;
    @include tablets {}
}

.stories-item {
    flex-shrink: 1;
    margin-right: 31px;
    @include tablets {
        margin-right: 12px;
    }
    @include phones {
        margin-right: 10px;
    }
}

.topline {
    background-color: #FAFAFA;
    margin-bottom: 26px;
    @include tablets {
        margin-bottom: 35px;
    }
    @include phones {
        margin-bottom: 23px;
    }
}

.feeds__content {
    margin-bottom: 32px;
    @include phones {
        margin-bottom: 17px;
    }
}

.content-item {
    margin-bottom: 26px;
    @include tablets {
        margin-bottom: 20px;
    }
    @include phones {
        margin-bottom: 16px;
    }
    &:last-child {
        margin-bottom: 0;
    }
}