@import "../../global.scss";
.c-topline {
    background-color: #FAFAFA;
    padding: 48px 0 37px;
    border-bottom: 1px solid #3c3c43;
    @include phones {
        padding: 32px 0 14px;
    }
}

.content {
    margin-top: 40px;
    @include tablets {
        margin-top: 30px;
    }
    @include phones {
        margin-top: 25px;
    }
}

.headline {
    display: flex;
    justify-content: space-between;
}